<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmx.springbootshiro.mapper.SystemUserMapper">
    <sql id = "selectId">
        id,
        username,
        password,
        salt,
        locked
    </sql>

    <select id = "query" resultType = "SystemUser" parameterType = "java.util.HashMap">
        select <include refid = "selectId" />
        from sys_users
        <where>
            <if test = "id != null">
                and id = #{id}
            </if>
            <if test = "username != null">
                and username = #{username}
            </if>
            <if test = "password != null">
                and password = #{password}
            </if>
            <if test = "salt != null">
                and salt = #{salt}
            </if>
            <if test = "locked != null">
                and locked = #{locked}
            </if>
        </where>
    </select>

    <insert id = "add" keyProperty = "id" parameterType = "SystemUser" useGeneratedKeys = "true">
        insert into sys_users(
        id,
        username,
        password,
        salt,
        locked)
        values(
        #{id},
        #{username},
        #{password},
        #{salt},
        #{locked})
    </insert>

    <delete id = "delete" parameterType = "String">
        delete from sys_users where id = #{id}
    </delete>

    <update id = "modify" parameterType = "SystemUser">
        update sys_users
        <set>
            <if test = "id != null">
                id = #{id},
            </if>
            <if test = "username != null">
                username = #{username},
            </if>
            <if test = "password != null">
                password = #{password},
            </if>
            <if test = "salt != null">
                salt = #{salt},
            </if>
            <if test = "locked != null">
                locked = #{locked}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id = "getById" parameterType = "String" resultType = "SystemUser">
        select <include refid = "selectId" />
        from sys_users
        where
        id = #{id}
    </select>

    <select id="getByName" parameterType = "String" resultType="SystemUser">
        select <include refid = "selectId" />
        from sys_users
        where
        username = #{username}
    </select>

</mapper>